img.DISP{
    float: left;
}

@media screen and (max-width:720px) {
    img.DISP {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto; 
    }
    .TEXT{
        text-align: center;
    }
    .MyProfile{
        display: inline-block;
        text-align: left;
    }

}
