img.DISP{
    float: left;
}
.TEXT{
        display: flex;
        justify-content: center;
    }
.TEXT div {
    background: black;
    color: white;
    padding: 15px;
    max-width: 125px;
    margin: 5px;
}

@media screen and (max-width:720px) {
    img.DISP {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto; 
    }

    .TEXT{
        display: block;
        text-align: center;
    }

    .TEXT div {
        margin-left: auto;
        margin-right: auto; 
    }

}
