img.DISP{
    float: left;
}
@media screen and (max-width:720px) {
    img.DISP {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto; 
    }
    .MyProfile{
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto; 
    }
    .MyInformation{
        margin-left: auto;
        margin-right: auto;
    }
}
