<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<body>
	<div class="container-fluid">

	    
		<div class="row my-3" >
			<div class="col-6">
		      	<div id="markdownText" v-html="text" class="form-control" style="height: 100%"></div>
		    </div>
			<div class="col-6">
		      	<div id="currentSketch">
			    	<input v-model="title" class="row form-control ml-2 mb-3">
			    	<textarea v-model="text" v-on:input="updateMarkdowm" class="row form-control ml-2" style="height: 50vh"></textarea>
	    		</div>
		    </div>
		</div>

		<div class="row">

			<div id="addButton">
	    		<input type="button" class="btn btn-primary my-3 mx-4" value="добавить файл" v-on:click="addSketch">
		    </div>
		    <div id="saveButton">
		    	<input type="button" class="btn btn-primary my-3 mx-1" value="сохранить файл" v-on:click="saveSketch">
		    </div>
		    <div id="deleteButton">
		    	<input type="button" class="btn btn-primary my-3 mx-1" value="удалить файл" v-on:click="deleteSketch">
		    </div>

		    <div id="sketchList" class="dropdown open ml-4 mx-1 my-3">
		    	<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    	Файлы
			  	</button>
	    	</div>
		</div>
</body>
</html>